<!DOCTYPE html>
<html>
<h1>Home Page</h1>

<p>Welcome to the home page. Please enter your food and calorie information!</p>

<form name="results" action="/results" method="POST">
    <label for="date">Date of Desired Entry (YYYY-MM-DD):</label>
    <input type="text" id="date" name="date"><br><br>
    
    <label for="food_item">Food Item:</label>
    <input type="text" id="food_item" name="food_item"><br><br>
    
    <label for="calories">Calories of Food Item:</label>
    <input type="text" id="calories" name="calories"><br><br>

    <input type="submit" value="Submit">
</form>

<br><br>

<p>Want to update your max calorie goal?</p>

<form name="MaxCalGoal" action="/update_max_cal_goal" method="POST">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname"><br><br>

    <label for="maxCalGoal">Max Calorie Goal:</label>
    <input type="text" id="maxCalGoal" name="maxCalGoal"><br><br>
    
    <input type="submit" value="Submit">
</form>

</html>