<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <div class="container">
        <h1>Welcome to your Calorie Tracker</h1>
        <p>Track your food intake and manage your daily calorie goals!</p>

        <div class="form-section">
            <h2>Food Entry</h2>
            <form name="results" action="/results" method="POST">
                <label for="date">Date of Desired Entry (YYYY-MM-DD):</label>
                <input type="text" id="date" name="date" placeholder="Enter Date">

                <label for="food_item">Food Item:</label>
                <input type="text" id="food_item" name="food_item" placeholder="Enter Food Item">

                <label for="calories">Calories of Food Item:</label>
                <input type="text" id="calories" name="calories" placeholder="Enter Calories">

                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="form-section">
            <h2>Update Max Calorie Goal</h2>
            <p>Want to update your max calorie goal?</p>
            <form name="MaxCalGoal" action="/update_max_cal_goal" method="POST">
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname" placeholder="Enter Your Name">

                <label for="maxCalGoal">Max Calorie Goal:</label>
                <input type="text" id="maxCalGoal" name="maxCalGoal" placeholder="Enter Goal">

                <input type="submit" value="Update Goal">
            </form>
        </div>
    </div>

</body>
</html>
